yfinance>=0.2.66
pandas>=2.3.0
numpy>=2.1.0
matplotlib>=3.10.0
seaborn>=0.13.2
scikit-learn>=1.7.0
statsmodels>=0.14.4
arch>=8.0.0
pytrends==4.9.2
streamlit>=1.46.0
vaderSentiment==3.3.2
plotly>=5.20.0
urllib3<2
requests==2.31.0
